# Dependencies
node_modules/

# Build output
dist/

# Environment files
.env
.env.local

# Firebase cache
.firebase/

# Logs
npm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.env
